.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card {
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.13s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-inner.flipped {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex; /* Enable flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: rgb(0, 0, 0);
  background: #38a0ad;
}

.flip-card-back {
  background-color: #1a9e6b;
  color: white;
  transform: rotateX(180deg);
}
.button-div{
  margin:15px;
  padding: 5px;
}
.button-div button{
  margin:0 10px;
}
.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}